<ul>
<head>
    <link rel="icon" href="favicon.ico">
    <title>{% block title %}Новини міста Дрогобич{% endblock %}</title>
<meta charset="utf-8">
<style type="text/css">
    body {
        color: #adff2f;
        background: url(http://html-templates.info/images/pages/140520040122.jpg)
    }
    A {
        color: #32cd32;
    }
    html { overflow-y: scroll }
   .block1 { 
    width: 200px; 
    padding: 5px; 
    float: left;
    background-position: left;
    }
   .block2 { 
    width: 400px; 
    padding: 5px;  
    float: center; 
    position: center; 
    } 
</style> 
</head>
<body>
<center>
<div class="block1">
<a href="{% url 'article-list' %}">Головна</a>
</div>
<div class="block2">
    <h1>Додати новину</h1>
<form method="POST">{% csrf_token %}
{{  form.as_p  }}
<input type='submit' value='Опублікувати' />
</form>
</div>
</center>
</body>
</ul>